.logo-container {
    z-index: 0;
    width: 30vw; /* 40% of the viewport width */
    height: auto;
    position: absolute;
    top: 5%; /* 5% from the top of the viewport */
    right: 20%; /* 10% from the right of the viewport */
    left: auto;
    margin: auto;
    opacity: 0;

    svg {
        width: 100%;
        height: auto;
        bottom: 0;
        transform: rotateZ(30deg) !important;
    }

    .solid-logo {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 100%;
        opacity: 0;
        //transform: rotateZ(30deg);
        z-index: 1;
    }
}

.svg-container {
    stroke: #ffd700;
    stroke-width: 10px;
}